<h1>Thank you</h1>
<div id="request-invite" class="modal" style="display: 'block';">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3>Thank you!</h3>
  </div>
  <div class="modal-body" style="margin-bottom: 120px; overflow: visible">
    <p>We have received your request for an invitation to erinl.ee.</p>
    <p>We'll contact you when we launch.
    	<br><%= image_tag("batman-thanks.gif") %></p>
  </div>
</div>